:root
{
    --black: #121212;
    --light-black: #242424;
    --white: #F5F5F5;
    --blue: #31E1F7;
}

html
{
    font-family: 'Open Sans', sans-serif;
    background-color: var(--black);
    color: var(--white);

    padding: 40px 98px 40px 98px;

    background-image: url('imgs/bg.png');
    /*Places the bg img correctly*/
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-logo h2
{
    font-weight: normal;
    font-family: 'MedievalSharp', cursive;
}